body{
padding:0;
margin:0;
justify-content: center;
align-items:center;

font-family: 'Nunito', sans-serif;


}


.head{
    margin-top: 2vh;
}

.head .navbar{
    background-color: white;
}

.head img{
    height:110px;
}
.head button{
background: #ffb347;

width:200px;
height:43px;
border-radius: 5px;
border:none;
outline: none;
}

.head button{
    color:#fff;
}

.head button:hover{
    background:#FFA500;
}

.head button:active{

    background: #FFA500;

}

.head1 .navbar{
    background-color: #89CFF0;
}

.head1 .navbar .form-control {
    width:200px;

}


h1{
    width:600px;
   position:absolute; 
    top:450px;
    left:200px;

}

.slider {
    width: 100%;
    height:500px;
    border-radius: 10px;
    overflow:hidden;
}
.slide img{
    width: 100%;
    height:490px;
    border-radius: 10px;
    overflow:hidden;
}

.slides{
    width:500%;
    height:400px;
    display:flex;
}

.slides input{
    display:none;

}

.slide{
    width:20%;
    transition:2s;
}

.navigation-manual{
    position:relative;
    width:800px;
    margin-top: -40px;
    display:flex;

    justify-content: center !important;

}

.manual-btn{
    border:2px solid #89CFF0;
    padding:5px;
    border-radius: 10px;
    cursor:pointer;
    transition:1s;

}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #0a364abd;
}

#radio1:checked ~ .first{
margin-left: 0;
}


#radio2:checked ~ .first{
    margin-left: -20%;
    }


    
#radio3:checked ~ .first{
    margin-left: -40%;
    }


    
#radio4:checked ~ .first{
    margin-left: -60%;
    }

.navigation-auto{
    position:absolute;
    display:flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
    .navigation-auto  div{
        border:2px solid #40D4DC;
        padding: 5px;
        border-radius:10px;
        transition: 1s;
    }

    .navigation-auto div:not(:last-child){
        margin-right: 40px;

    }

    #radio1:checked ~ .navigation-auto .auto-btn1{

     background: #40D3DC;   

    }

    #radio1:checked ~ .navigation-auto .auto-btn2{

        background: #40D3DC;   
        
       }


       #radio1:checked ~ .navigation-auto .auto-btn3{

        background: #40D3DC;   
        
       }


       #radio1:checked ~ .navigation-auto .auto-btn4{

        background: #40D3DC;   
        
       }

.header-3 h3{
    text-align: center;
 
    margin-top: 20px;;
}

.header-3 p{
    text-align: center;
   justify-content: center ;
    margin-top: 20px;;
}
       .container{
           position:relative;
           width: 1150px;
           padding:20px;
           display:flex;
           justify-content:space-between;
           align-items: center;
           padding-top:-300px;
           
           
       
       }

       .container .card{
           position:relative;
           width:300px;
           height:200px;
           background:#89CFF0;
           margin:20px;
           border-radius:2px;
           overflow:hidden;
           box-shadow: 0 15px 25px rgb(92, 151, 191);
           transition:0.5s;
           display:flex;

       }

       .container .card .circle{
           position:relative;
           width:100%;
           height:100%;
           background:#89CFF0;
           clip-path: circle(180px at center 0);
           text-align:center;
       }

       .container .card .circle i{

        color:#fff;
        font-size: 4.5em;
        padding:30px 0;
       }

       .container .card .content {

        position: absolute;
        bottom:10px;
        page-break-after: 20px;
        text-align: center;
       }

       .container .card .content p{
           color: #000;
           display:flex;
           padding: 10px 20px;
           background: rgba(245, 207, 14, 0.886);
           color: #fff;
         
           text-decoration: none;
           margin-top:20px;

       }

       .container .card:nth-child(1) .circle{
           background: #89CFF0;
       }

       .cont1{
        position:relative;
      
        padding:20px;
        display:flex;
        justify-content:space-between;
        align-items: center;
        padding-top:-300px;
        
        
           
       }
      .services{
          background: #faf9f9;
          text-align:center;
      }

      .services h2{
          display: inline-block;
          text-transform: uppercase;
          border-bottom: 4px solid #FFA500;
          font-size: 20px;
          padding-bottom: 10px;
          margin-top:40px;
      }

      .cen{
          max-width: 1200px;
          margin:auto;
          overflow: hidden;
          padding: 20px;
      }

      .service{
          display: inline-block;
          width: calc(100% / 3);
          margin: 0 -2px;
          padding: 20px;
          box-sizing:border-box;
          cursor:pointer;
          transition:0.4s;
      }
.service:hover{
    background:rgb(255, 255, 255);
}

.service i {
    color:hsl(191, 49%, 66%);
    font-size: 34px;
    margin-bottom: 30px;
}
      .service{
          display: inline-block;
          width: calc(100% / 3);
      }
      
      .service h3{
          font-size: 18px;
          text-transform: uppercase;
          font-weight: 500;
          margin:0;
      }
footer{
    position:relative;
    width: 100%;
    height: auto;
    padding:50px 100px;
    background:#89CFF0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec{
    margin-right:30px;
}

footer .container .sec.aboutus{
    width: 40%;
}
footer .container .sec.aboutus h2{
    position:relative;
    color:#fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container .sec.aboutus h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left:0;
    width:50px;
    height:2px;
    background: #FFA500;
}

.sci{
    margin-top:20px;
    display:flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width:40px;
    color: #FFA500;
    display: flex;
justify-content: center;
align-items: center;
margin-right:10px;
text-decoration: none;
border-radius:4px;


}
    @media screen and (max-width:800px){
        .service{
            width:50%;
        }
    }
    @media screen and (max-width:500px){
        .service{
            width:100%;
        }
    }